header{
    padding: 15px 15px;
    background-position: center!important;
    background-size: cover !important;
    position: relative;
    z-index: 100;
    width: 100%;
    top: 0;
    width: 100%;
    @include breakpoint (medium up){
        padding:25px 40px ;
    }
	.header-wrapp{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
		.logo{
			flex-grow: 1;
            flex: 1;
            max-width: 120px;
            opacity: 1;
            transition: .3s ease-in-out;
            cursor: pointer;
            @include breakpoint (medium up){
                max-width: 160px;
            }
            @include breakpoint (large up){
                min-width: 160px;
            }
            img{
                transition: .3s ease-in-out;
            }
            &:hover{
                img{
                opacity: .7;
                transition: .3s ease-in-out;
                }
            }
		}
		.navigation{
            flex-grow: 1;
            display: none;
            @include breakpoint (large up){
                display: block;
            }
			ul{
				list-style: none;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
                justify-content: flex-end;
                margin: 0;
                width: 80%;
                margin-left: auto;
                margin-right: 68px;
				li{
					display: inline-block;
					text-align: center;
					font-size: 16px;
					padding-right: 35px;
					&:last-child(){
						padding-right: 0;
					}
					a{
						font-family: 'Amiri';
						text-decoration: none;
						color: #fff;
						&:hover{
							color: #D2CC7A;
						}
					}
				}
			}
		}
		.search-languages{
            margin-left: auto;
            margin-right: 50px;
            @include breakpoint (large up){
                margin: unset;
            }
			ul{
                margin: 0;
				li{
					display: inline-block;
					vertical-align: middle;

					a{
						font-size: 14px;
						color: #D2CC7A;
						i{
							font-size: 25px;
						}
					}
				}
				.search{
					margin-top: 3px;
					&:hover{
						a{
							color: #fff;
						}

						
					}
				}
				.language{
					margin-bottom: 3px;
					font-weight: bold;
					i{
						color: #fff;
						font-size: 15px;
						vertical-align: middle;
						margin-left: -2px;
					}
				}
				span{
					font-size: 21px;
					padding: 0px 20px;
					color: #D2CC7A;
					opacity: .4;
				}
			}
        }
        .mobile-navigation {
            display: none;
            position: fixed;
            background: red;
            width: 100%;
            height: 100vh;
            z-index: 100;
            top: 0;
            left: 0;
            opacity: 0;
            background-size: cover !important;
            text-align: center;
            &.active{
                text-align: center;
            }
            .mob-nav{
                margin-top: 70px;
                li{
                    text-align: center;
                    a{
                        font-size: 16px;
                        color: #fff;
                        display: block;
                        padding: 5px 0;
                        font-family: "Amiri";
                    }
                    &:hover{
                        a{
                            color: #D2CC7A;
                        }
                    }
                }
            }
            .mobile-search{
                display: inline-block;
                margin-top: 20px;
                input{
                    background: transparent;
                    border: unset;
                    font-family: "Bahnschrift";
                    border-bottom: 1.5px solid #fff;
                    color: #fff;
                    padding: 5px;
                    outline: none;
                    &::placeholder{
                        color: #fff;
                    }
                }
                button{
                    border: unset;
                    background: transparent;
                }
            }
            .mobile-lang{
                margin-top: 20px;
                span{
                    text-transform: uppercase;
                    opacity: .75;
                    color: #fff;
                    font-weight: 600;
                    margin-right: 20px;
                    font-family: "Bahnschrift";
                    cursor: pointer;
                    &.active, &:hover{
                        opacity: 1;
                    }
                }
            }
            .mobile-socials{
                margin-top: 20px;
                li{
                    padding: 25px 17px;
                    display: inline-block;
                    vertical-align: middle;
                    a{  
                        text-decoration: none;
                        width: 20px;
                        height: 18px;
                        display: inline-block;
                        &:hover{
                            svg{
                                fill: #D2CC7A;
                                transition: .2s ease-in-out;
                            }
                        }
                        svg{
                            transition: .2s ease-in-out;
                            width: 20px;
                            height: 20px;
                            fill: #CFDDE9;
                        }
                    }
                    &:nth-child(3){
                        a{
                            width: 30px;
                            svg{
                                width: 30px;
                                height:29px
                            }
                        }
                    }
                    &:last-child{
                        padding: 25px;
                    }
                }
            }
        }
        .navTrigger {
            display: none;
            cursor: pointer;
            width: 30px; 
            height: 17px;
            position: absolute;
            right: 20px;
            z-index: 200;
            @media screen and(min-width: 320px) and (max-width: 991px){
                display: inline-block;
            }
            @include breakpoint (medium up){
                right: 40px;
            }
            i {
              background-color: #fff;
              border-radius: 1px;
              content: '';
              display: block;
              width: 100%;
              height: 2px;
            }
            i:nth-child(1) {
              -webkit-animation:outT 0.8s backwards;
              animation:outT 0.8s backwards;
              -webkit-animation-direction:reverse;
              animation-direction:reverse;
            }
            i:nth-child(2) {
              margin: 5px 0;
              -webkit-animation:outM 0.8s backwards;
              animation:outM 0.8s backwards;
              -webkit-animation-direction:reverse;
              animation-direction:reverse;
            }
            i:nth-child(3) {
              -webkit-animation:outBtm 0.8s backwards;
              animation:outBtm 0.8s backwards;
              -webkit-animation-direction:reverse;
              animation-direction:reverse;
            }
            &.active {
              i:nth-child(1) {
                -webkit-animation:inT 0.8s forwards;
                animation:inT 0.8s forwards;
              }
              i:nth-child(2) {
                -webkit-animation:inM 0.8s forwards;
                animation:inM 0.8s forwards;
              }
              i:nth-child(3) {
                -webkit-animation:inBtm 0.8s forwards;
                animation:inBtm 0.8s forwards;
              }
            }
        }
    }

}



@keyframes inM{
    50%{transform:rotate(0deg);}
    100%{transform:rotate(45deg);}
}
@keyframes outM{
    50%{transform:rotate(0deg);}
    100%{transform:rotate(45deg);}
}
@keyframes inT{
    0%{transform: translateY(0px) rotate(0deg);}
    50%{transform: translateY(7px) rotate(0deg);}
    100%{transform: translateY(7px) rotate(135deg);}
}
@keyframes outT{
    0%{transform: translateY(0px) rotate(0deg);}
    50%{transform: translateY(7px) rotate(0deg);}
    100%{transform: translateY(7px) rotate(135deg);}
}
@keyframes inBtm{
    0%{transform: translateY(0px) rotate(0deg);}
    50%{transform: translateY(-7px) rotate(0deg);}
    100%{transform: translateY(-7px) rotate(135deg);}
}
@keyframes outBtm{
    0%{transform: translateY(0px) rotate(0deg);}
    50%{transform: translateY(-7px) rotate(0deg);}
    100%{transform: translateY(-7px) rotate(135deg);}
}