#offer-products{
    background: #eee;
    overflow: hidden;
    .offer-products-list{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 5px;
        background: #eee;
        @include breakpoint (medium up){
            padding-top: 17px;
            justify-content: space-between;
          }
          @include breakpoint (xlarge up){
            padding: 25px 0 15px;
          }
        .offer-products-item{
            flex: 0 0 25%;
            text-align: center;
            padding: 0 19px 20px;
            line-height: 13px;
            opacity: 1;
            @include breakpoint (medium up){
                flex: 0 0 14%;
                padding: 0 11px 10px;
            }
            @include breakpoint (large up){
                padding: 0 28px 10px;
            }
            @include breakpoint (xlarge up){
                flex: 0 0 14%;
                padding: 0 30px 00px;
            }
            a{
                font-size: 12px;
                font-family: 'Amiri';
                color: #000;
                @include breakpoint (medium up){
                    font-size: 10px;
                }
                @include breakpoint (mediumx up){
                    font-size: 12px;
                }
                @include breakpoint (xlarge up){
                    font-size: 16px;
                }
            }
            img{
                display: block;
                margin: 0 auto 3px;
                opacity: .6;
                transition: .2s ease-in-out;
            }

            &:hover{
                img{
                    opacity: 1;
                    transition: .2s ease-in-out;
                }
            }
            &.active{
                img{
                    opacity: 1;
                    transition: .2s ease-in-out;
                }
            }
        }
    }
}