#products{
    padding: 0px 15px;
    @include breakpoint (medium up){
        padding: 0px 40px 0 ;
      }
      @include breakpoint (large up){
        padding: 0px 40px 0;
      }
      @include breakpoint (xlarge up){
        padding: 0px 40px 0;
      }
    .products-wrapp{
        position: relative;
        @include breakpoint (large up){
            align-items:flex-start;
            align-content:flex-start;
          }
        h1{
            font-size: 25px;
            font-weight: 700;   
            padding-bottom: 30px;
            @include breakpoint (medium up){
                padding-bottom: 40px;
                font-size: 35px;
            }
            @include breakpoint (large up){
                padding-bottom: 50px;
                font-size: 40px;
            }
            @include breakpoint (xlarge up){
                padding-bottom: 60px;
                font-size: 45px;
            }
        }
        .product-select{
            position: absolute;
            right: 0;
            top: 0;
            font-size: 12px;
            font-family: 'Bahnschrift';
            border: 1.2px solid #707070;
            text-align: center;
            padding: 10px;
            border-radius: 25px;
            color: #707070;
            font-weight: 700;
            outline: none;
            cursor: pointer;

            transition: .3s ease-in-out;
            span{
                vertical-align: middle;
            }
            @include breakpoint(large up){
                display: none;
            }
            &:hover{
                background: #00726D;
                transition: .3s ease-in-out;
                color: #fff;
                border: 1.2px solid #fff;
            }
            // &.active{
            //     position: fixed;
            //     top: 11px;
            //     z-index: 200;
            //     right: 190px;
            //     background: red;
            // }
        }
        .products-big-list{
            display: flex;
            flex-wrap: wrap;
            width: 110%;
            justify-content: space-between;
            background: #eee;
            margin: 0 -15px;
            max-height: 0px;
            overflow: hidden;
            transition: .5s ease-in-out;
            @include breakpoint(large up){
                max-height: unset;
                width: 32%;
                padding: 50px 30px 50px 50px;
                margin: 0;
                max-width: 312px;
            }
            &.active{
                max-height: 1000px;
                padding: 25px 15px;
                transition: .5s ease-in-out;
                @media screen  and (min-width: 640px){
                    width: 115%;
                    margin: 0 -40px;
                    padding: 30px 40px;
                }
            }

            p{
                flex: 0 0 100%;
                padding-bottom: 10px;
                font-family: 'Bahnschrift';
                font-size: 18px;
                font-weight: 700;
                @include breakpoint(large up){
                    padding-bottom: 50px;
                }
                
            }
            .products-left-column-xsmall, .products-right-column-xsmall, .products-column{
                flex: 0 0 47%;
                @include breakpoint (medium up){
                    display: none;
                }
                li{
                    padding: 0 0 16px;
                    a{
                        font-size: 16px;
                        color: #3B3B3B;
                        font-weight: 400;
                        display: block;
                        font-family: 'Bahnschrift';
                        line-height: 15px;
                        transition: .2s ease-in-out;
                        &:hover{
                            font-weight: 700;
                            transition: .2s ease-in-out;
                        }
                    }
                    &:first-child{

                    }
                    &:last-child{
                        padding: 0;
                    }
                }
            }
            .products-right-column{
                flex: 0 0 47%;
                padding: 0;
            }
            .products-column{
                display: none;
                li{
                    a{
                        font-size: 12px;
                    }
                }
                @include breakpoint (medium up){
                    display: block;
                    flex: 0 0 33%;
                }
                @include breakpoint (large up) {
                    flex: 0 0 100%;
                    padding-bottom: 16px;

                }
                &:last-child(){
                    padding-bottom: 0;
                }
            }
        }
        .products-container-list{
            padding-top: 30px;
            width: 100%;
            @include breakpoint(large up){
                width: 68%;
                padding-left: 50px;
                padding-top: 0;
            }

            .products-container-list-wrapper{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;
                .products-list-item{
                    flex: 0 0 49%;
                    text-align: center;
                    margin-bottom: 30px;
                    padding-bottom: 10px;
                    display: block;
                    @include breakpoint(medium up){
                        flex:  0 0 30%;
                    }
                    @include breakpoint(large up){
                        margin-bottom: 50px;
                        flex: 0 0 32%;
                    }
                    &:hover{
                        box-shadow: 0 0px 40px 5px rgba(0,0,0,0.1);
                    }
                    img{
                    }
                    p{
                        font-family: 'Amiri';
                        font-size: 16px;
                        font-weight: 700;
                        color: #707070;
                    }
                    span{
                        font-size: 12px;
                        font-family: 'Bahnschrift';
                        color: #707070;
                    }
                }
                .btn{
                    font-size: 16px;
                    display: block;
                    font-weight: 700;
                    margin: 10px auto 0;
                }
            }
        }
    }
}